<p>life-cycle works!</p>


<input  type="text" [(ngModel)]="first" /> 

<br>
{{first}}

<br >
<input  type="text" [(ngModel)]="last" /> 

<!-- <app-my-button [btnTitle]="'Save User'"
 [btnClassName]="'btn-primary'" (onBtnClick)="showAler($event)"></app-my-button> -->


<!-- <button (click)="showAler()">ssss</button> -->

<!-- 
<ul>
     @for (item of stateList; track $index) {
        <li>{{item}}</li>
    } 
     
</ul> -->
<app-my-ul [arrayList]="stateList" [title]="'State List'"></app-my-ul>
